* {
	margin: 0;
	padding: 0;
	font-family: 'Space Mono', monospace;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	--bg-color: #f6f6f6;
}

a,
a:link,
a:visited {
	color: black;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

#app {
	background-color: var(--bg-color);
	min-width: 30%;
	max-width: 30%;
	display: flex;
	flex-flow: column wrap;
	border: 1px solid black;
	border-radius: 6px;
	box-shadow: 2px;
	align-items: center;
	padding: 1rem;
}

#app h1 {
	margin-bottom: 1.5rem;
}

#inputs {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	padding-bottom: 1rem;
	margin-bottom: .5rem;
	border-bottom: 1px solid black;
}

#inputs form {
	width: 100%;
	display: flex;
	justify-content: space-between;	
}

#inputs input,
#inputs button {
	padding: .3rem .5rem;
}

#inputs input {
	width: 85%;
}

#todo-list {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	padding: 1rem 0;
}

.todo {
	display: flex;
	height: 3rem;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: 1px solid black;
	padding: .5rem;
	margin-bottom: .2rem;
	color: black;
	border-radius: 3px;
}

.todo i {
	margin: 0 .25rem;
	font-size: x-large;
}

.completed {
	background-color: lightgrey;
}

.completed p {	
	text-decoration: line-through;
}

@media only screen and (max-width: 1100px) {
	#app {
		min-width: 100%;
	}
	
	#inputs input {
		width: 75%;
	}
}